<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ray.android.localservice">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ray.android.localservice.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.ray.android.localservice.LocalWordService"
            android:label="Word service" >
        </service>
        <service
            android:name="com.ray.android.localservice.TestJobService"
            android:label="Word service"
            android:permission="android.permission.BIND_JOB_SERVICE" >

        </service>

        <service
            android:name="com.ray.android.localservice.ForegroundService"
            android:label="Foreground service"
            android:permission="android.permission.BIND_JOB_SERVICE" >

        </service>

        <service
            android:name="com.ray.android.localservice.MyIntentService"
            android:label="Intent service"
            android:permission="android.permission.BIND_JOB_SERVICE" >

        </service>

        <receiver android:name="com.ray.android.localservice.MyStartServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>